version: '3.8'

services:
  db:
    container_name: app-db
    image: mysql:8.0
    ports:
      - '3311:3306'
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network
  app:
    container_name: app-php
    build:
      context: .
      dockerfile: conf/php/Dockerfile
    volumes:
      - ./:/var/www/html
    working_dir: /var/www/html
    depends_on:
      - db
    networks:
      - app-network
    links:
      - db
    env_file:
      - .env
    restart: always
  nginx:
    container_name: app-nginx
    image: nginx:1.26.1
    ports:
      - '84:80'
    volumes:
      - ./conf/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./:/var/www/html:ro
    depends_on:
      - app
    networks:
      - app-network
    restart: always
volumes:
  mysql_data:
    driver: local

networks:
  app-network:
    driver: bridge
